@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: calc(100vw - 170px) 170px;
  grid-template-rows: 100vh;
}